@{
Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Products</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/dashmin/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/dashmin/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/dashmin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/dashmin/css/style.css" rel="stylesheet">
    <style>
        .product_img {width:50px;height:auto;}
    </style>
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        @await Html.PartialAsync("_Admin_Left_Menu.cshtml")
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            @await Html.PartialAsync("_Admin_Top_Menu.cshtml")
            <!-- Navbar End -->


            <!-- Table Start -->
            <div class="container-fluid pt-4 px-4">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="bg-light rounded h-100 p-4">
                            <h6 class="mb-4">Product list</h6>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">Brand</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td><img class="product_img" src="/malefashion/img/product/product-2.jpg" /></td>
                                            <td><a href="/admin/product/1">Slim Fit White Shirt</a></td>
                                            <td>Shirts</td>
                                            <td>UrbanEdge</td>
                                            <td>34</td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">2</th>
                                            <td><img class="product_img" src="/malefashion/img/product/product-5.jpg" /></td>
                                            <td><a href="/admin/product/2">Classic Blue Jeans</a></td>
                                            <td>Jeans</td>
                                            <td>DenimCo</td>
                                            <td>21</td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">3</th>
                                            <td><img class="product_img" src="/malefashion/img/product/product-7.jpg" /></td>
                                            <td><a href="/admin/product/3">Leather Jacket</a></td>
                                            <td>Jackets</td>
                                            <td>UrbanEdge</td>
                                            <td>12</td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">4</th>
                                            <td><img class="product_img" src="/malefashion/img/product/product-3.jpg" /></td>
                                            <td><a href="/admin/product/4">Black Polo Shirt</a></td>
                                            <td>Shirts</td>
                                            <td>SportWear</td>
                                            <td>45</td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                        <tr>
                                            <th scope="row">5</th>
                                            <td><img class="product_img" src="/malefashion/img/product/product-8.jpg" /></td>
                                            <td><a href="/admin/product/5">Casual Sneakers</a></td>
                                            <td>Shoes</td>
                                            <td>StepUp</td>
                                            <td>28</td>
                                            <td><a href="#">Delete</a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xl-6">
                        <div class="h-100 p-4">
                            <div class="btn-toolbar" role="toolbar">
                                <div class="btn-group me-2" role="group" aria-label="First group">
                                    <button type="button" class="btn btn-primary">1</button>
                                    <button type="button" class="btn">2</button>
                                    <button type="button" class="btn">3</button>
                                    <button type="button" class="btn">4</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Table End -->
        </div>
        <!-- Content End -->

    </div>

    @await Html.PartialAsync("_Admin_Bottom.cshtml")

</body>

</html>