@{
Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="~/malefashion/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="~/malefashion/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    @await Html.PartialAsync("_Header")
    <!-- Header Section End -->

    <!-- Map Begin -->
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d125437.38045747415!2d106.51633501052858!3d10.740792431393169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f8e0f38358d%3A0x4c5bd44eff4283aa!2sNEM%20FASHION!5e0!3m2!1sen!2s!4v1768022037969!5m2!1sen!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <!-- Map End -->

    <!-- Contact Section Begin -->
    <section class="contact spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="contact__text">
                        <div class="section-title">
                            <span>Information</span>
                            <h2>Contact Us</h2>
                            <p>As you might expect of a company that began as a high-end interiors contractor, we pay
                                strict attention.</p>
                        </div>
                        <ul>
                            <li>
                                <h4>Ho Chi Minh city</h4>
                                <p>208 Đ. Phạm Hùng, Phường 5, Quận 8, Thành phố Hồ Chí Minh, Vietnam <br />+84 982-314-0958</p>
                            </li>
                            <li>
                                <h4>Ha Noi</h4>
                                <p>Ô Chợ Dừa, Đống Đa, Hanoi, Vietnam<br />+84 345-423-9893</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="contact__form">
                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Name">
                                </div>
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Email">
                                </div>
                                <div class="col-lg-12">
                                    <textarea placeholder="Message"></textarea>
                                    <button type="submit" class="site-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->

    <!-- Footer Section Begin -->
    @await Html.PartialAsync("_Footer")
    <!-- Footer Section End -->

</body>

</html>